<aside class="sidebar">

	<div class="sidebar__top">

		<div class="sidebar__logo">

			PMS

			<button
				class="sidebar__toggle"
				id="sidebarToggle"
			>
				<i data-lucide="chevron-left"></i>
			</button>

		</div>

		<nav class="sidebar__menu">

			<a class="sidebar__item" data-page="dashboard" href="../dashboard/index.html">

				<i data-lucide="layout-dashboard"></i>
				<span>Dashboard</span>

			</a>

			<a class="sidebar__item" data-page="projects" href="../projects/index.html">

				<i data-lucide="folder-kanban"></i>
				<span>Projects</span>

			</a>

			<a class="sidebar__item" data-page="tasks">

				<i data-lucide="check-square"></i>
				<span>Tasks</span>

			</a>

			

			<a class="sidebar__item" data-page="employees">

				<i data-lucide="users"></i>
				<span>Employees</span>

			</a>

			<a class="sidebar__item" data-page="clients" href="../clients/index.html">

				<i data-lucide="building"></i>
				<span>Clients</span>

			</a>

			<a class="sidebar__item" data-page="finance">

				<i data-lucide="wallet"></i>
				<span>Finance</span>

			</a>

			<a class="sidebar__item" data-page="reports">

				<i data-lucide="bar-chart"></i>
				<span>Reports</span>

			</a>

			<a class="sidebar__item" data-page="settings">

				<i data-lucide="settings"></i>
				<span>Settings</span>

			</a>

		</nav>

	</div>


	<div class="sidebar__bottom">

		<button class="logout-btn" id="logoutBtn">

			<i data-lucide="log-out"></i>

			<span>Log out</span>

		</button>

	</div>
</aside>